<ion-header>
  <ion-toolbar>
    <ion-title>Aviso de Privacidad</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="privacy-policy-content">
    <ion-text>
      <h2>Aviso de Privacidad de CartoonDex</h2>

      <h3>1. Información que recopilamos</h3>
      <ion-item lines="none">
        <ion-label>Recopilamos información personal identificable que proporcionas al registrarte en nuestra aplicación o al interactuar con ella. Esto puede incluir tu nombre, dirección de correo electrónico, preferencias de personajes y detalles asociados.</ion-label>
      </ion-item>

      <h3>2. Uso de la información</h3>
      <ion-item lines="none">
        <ion-label>Utilizamos la información recopilada para:</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>- Proporcionarte una experiencia personalizada en la aplicación.</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>- Mejorar los servicios y la funcionalidad de CartoonDex.</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>- Enviarte actualizaciones, notificaciones o información relevante sobre la aplicación.</ion-label>
      </ion-item>

      <h3>3. Seguridad de la información</h3>
      <ion-item lines="none">
        <ion-label>Tomamos medidas de seguridad adecuadas para proteger tu información personal contra el acceso no autorizado, la alteración, divulgación o destrucción.</ion-label>
      </ion-item>

      <h3>4. Compartir información</h3>
      <ion-item lines="none">
        <ion-label>No compartimos tu información personal con terceros, salvo que sea necesario para proporcionar nuestros servicios o si así lo requiere la ley.</ion-label>
      </ion-item>

      <h3>5. Cookies</h3>
      <ion-item lines="none">
        <ion-label>Podemos utilizar cookies para mejorar tu experiencia en la aplicación. Las cookies nos permiten recordar tus preferencias y personalizar los contenidos.</ion-label>
      </ion-item>

      <h3>6. Derechos del usuario</h3>
      <ion-item lines="none">
        <ion-label>Tienes el derecho de acceder, corregir o eliminar la información personal que hemos recopilado sobre ti. Si deseas ejercer alguno de estos derechos, contáctanos a través de [tu correo electrónico de contacto].</ion-label>
      </ion-item>

      <h3>7. Cambios en el Aviso de Privacidad</h3>
      <ion-item lines="none">
        <ion-label>Nos reservamos el derecho de actualizar este aviso de privacidad en cualquier momento. Te notificaremos cualquier cambio importante a través de la aplicación o por otros medios.</ion-label>
      </ion-item>

      <h3>8. Contacto</h3>
      <ion-item lines="none">
        <ion-label>Si tienes preguntas sobre este aviso de privacidad, no dudes en contactarnos a [correo electrónico de contacto].</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label><strong>Fecha de entrada en vigor:</strong> Ahora mismo</ion-label>
      </ion-item>
    </ion-text>
  </div>
</ion-content>
